.cart {
  margin: 25px;
}
.cart img {
  width: 250px;
  height: 250px;
}
.titleCart {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 3px;
  text-transform: uppercase;
}
button {
  width: 25px;
  height: 25px;
}
.price {
  display: flex;
  justify-content: space-between;
  margin: 10px 3px;
  font-size: 16px;
}
