.header {
  text-transform: uppercase;
  background: rgb(45, 45, 45);
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.logo {
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 30px;
  width: 150px;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  color: #ffffff;
  font-size: 20px;
}
.basket {
  display: flex;
  align-items: center;
}
.basket img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
}
