.navTitle {
  cursor: pointer;
  padding: 30px 0;
}
.subMenu {
  position: relative;
}
.subNavMenu {
  position: absolute;
  background-color: #fff;
  top: -15px;
  padding: 20px 50px 0 5px;
  clip-path: polygon(15% 0%, 5% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 25% 5%);
}
.navLInk {
  margin: 5px;
  color: black;
  cursor: pointer;
}
.linkNavTitle {
  color: #fff;
}
