.search {
  position: relative;
}

.text {
  border: 1px solid black;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px 5px 5px 40px;
}

.magnifier {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  left: 7px;
}
.close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: 15px;
  cursor: pointer;
}
