.picture img {
  width: 100%;
  height: 650px;
}
.content {
  margin: 20px auto;
  max-width: 1200px;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 35px;
  font-weight: 700;
  margin-left: 20px;
}

